$mainColor: #2f2f2f;

$lightColor: #333;

$highlightColor: #FFD900;

$btnColor: #2f2f2f;
$btnTextColor: #fff;

$smallFontSize: 1.4rem;
$regularFontSize: 1.6rem;
$mediumFontSize: 1.8rem;

$smallTtlFontSize: 2.4rem;
$mediumTtlFontSize: 3.6rem;
$largeTtlFontSize: 5.6rem;


$hoverColor: rgba(11, 11, 11, .6);