@use '../global'as global;

.p-second-works {

    &__info {
        margin-top: 4.8rem;
    }

    &__desc {
        margin-top: 4.8rem;
    }

    &__images-list {
        margin-top: 4.8rem;
    }


}

.p-second-works-desc {

    &__ttl {
        text-align: left;
    }

    &__tools {
        margin-top: 4.8rem;
    }

}

.p-second-works-desc-main {
    &__text {
        margin-top: 1.6rem;
    }
}

.p-second-works-desc-tools {

    &__text {
        margin-top: .8rem;
    }

}

.p-second-works-button {
    margin-top: 2.4rem;
    text-align: center;

    &__link {
        max-width: 24rem;
        padding: 1rem 3rem;
        transition: background-color .3s;
        border: 2px solid global.$btnColor;
        font-weight: bold;

        &:hover {
            background-color: #fff;
            color: global.$btnColor;
        }
    }
}

.p-second-works-images-list {
    &__item {
        box-shadow: 2px 5px 10px rgba(191, 191, 191, .8);

        &+& {
            margin-top: 2.4rem;
        }
    }
}